* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  min-height: 100vh;
}

.btn {
  padding: 1rem 2rem;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  gap: 75px;
}

.game-area-container {
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  min-height: 400px;
  width: 35%;
}

.hide-screen {
  display: none;
}

.start-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.start-screen > h1 {
  font-size: 4rem;
}

.start-screen > img {
  height: 550px;
}

.game-mode {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.choose-piece-screen {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.icon-selection {
  display: flex;
  gap: 15px;
}

.icon-selection > img {
  flex: 1;
  border: 1px solid black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon-selection > img:hover {
  opacity: 0.3;
}

.game-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 25px;
}

.grid-square {
  border: 1px solid black;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.game-screen-header {
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.grid-square:hover {
  background-color: aqua;
}

.statistics {
  display: flex;
  width: 75%;
  gap: 25px;
}

.statistics-box {
  flex: 1;
  min-height: 100px;
  border-radius: 15px;
}

.statistics-box-blue {
  background-color: blue;
}

.statistics-box-lightblue {
  background-color: lightblue;
}

.statistics-box-violet {
  background-color: blueviolet;
}

@media only screen and (max-width: 900px) {
  .game-area-container {
    width: 70%;
  }
}
