* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

body {
  min-height: 100vh;
}

.btn {
  padding: 1rem 2rem;
}

.site-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.game-area-container {
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  min-height: 400px;
  width: 50%;
}

.hide-screen {
  display: none;
}

.start-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.start-screen > h1 {
  font-size: 4rem;
}

.start-screen > img {
  height: 550px;
}

.game-mode {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.game-mode > .btn {
  flex: 1;
}

.choose-piece-screen {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.icon-selection {
  display: flex;
  gap: 15px;
}

.icon-selection > img {
  flex: 1;
  border: 1px solid black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon-selection > img:hover {
  opacity: 0.3;
}
