@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive, sans-serif;
}

:root {
}

body {
  min-height: 100vh;
  font-size: 20px;
  background-color: lightcyan;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: lightcoral;
  border-radius: 1rem;
  border: 2px solid lightslategray;
}

.btn:hover {
  background-color: lightgray;
}

.quitBtn:hover {
  background-color: red;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: inherit;
  gap: 75px;
  padding: 1rem;
}

.game-area-container {
  padding: 2rem;
  border: 8px solid lightslategray;
  border-radius: 20px;
  min-height: 400px;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 7px 29px 0px;
}

.hide-screen {
  display: none;
}

.start-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.start-screen > h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.start-screen > img {
  height: 50vh;
}

.game-mode {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.choose-piece-screen {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.choose-piece-screen > h1 {
  font-size: 4rem;
}

.icon-selection {
  display: flex;
  gap: 15px;
  font-size: 6rem;
  cursor: pointer;
}

.icon-selection > h1 {
  flex: 1;
  border: 2px solid lightslategray;
  border-radius: 1rem;
}

.icon-selection > h1:hover {
  background-color: lightgreen;
}

.game-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 25px;
}

.grid-square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: 2px solid lightslategray;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  cursor: pointer;
}

.grid-square-x:hover {
  background-color: lightgreen;
}

.grid-square-o:hover {
  background-color: rgb(157, 91, 219);
}

.game-screen-header {
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.game-screen-controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.game-screen-controls > button {
  flex: 1;
}

.statistics {
  display: flex;
  width: 90%;
  gap: 55px;
  flex-wrap: wrap;
  font-weight: 900;
}

.statistics-box {
  flex: 1;
  min-height: 100px;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 7px 29px 0px;
  border: 3px solid lightslategray;
}

.statistics-box > h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-decoration: underline;
}

.statistics-box > p {
  font-size: 3rem;
}

.statistics-box-lightgreen {
  background-color: lightgreen;
}

.statistics-box-lightblue {
  background-color: lightblue;
}

.statistics-box-violet {
  background-color: rgb(157, 91, 219);
}

@media only screen and (max-width: 1305px) {
  .game-area-container {
    width: 75%;
  }
}

@media only screen and (max-width: 665px) {
  .game-area-container {
    width: 100%;
  }
}
